.large-hero {
    position: relative;
    
    &__text-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.1rem;
        margin: 0;

        @mixin atSmall {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.9rem;
        margin: 0;
    }

    &__description {
        font-weight: 100;
        color: #fff;
        font-size: 1.875rem;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        max-width: 30rem;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
}





